.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

.submit-btn {
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.75rem 1.5rem;
  background-color: #1e88e5;
  background-image: linear-gradient(to top right, #1e88e5, #42a5f5);
  border-radius: 0.5rem;
  width: 100%;
  outline: 0;
  border: 0;
  color: #fff !important;
}
